In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from src.data.dataset import split_dataset
from src.data.data_query import StorageEngine
from src.data.plays_model import game_json_to_plays_list
from src.features.features import basic_features, advanced_features

In [9]:
season_plays_df = pd.read_csv("./data/processed/plays_2015-2021.csv", index_col=False)
season_plays_df.head()

,event_idx,event_type_id,period_idx,period_type,game_time,shot_type,team_initiative_id,team_initiative_name,x_coord,y_coord,...,empty_net_bool,previous_event_idx,previous_event_type,previous_event_x_coord,previous_event_y_coord,previous_event_time,gamePk,game_season,game_type,game_start_time
0,7,SHOT,1,REGULAR,2015-09-20T20:39:52Z,Snap Shot,NSH,Nashville Predators,-83.0,13.0,...,NaN,6,FACEOFF,0.0,0.0,2015-09-20T20:38:24Z,2015010002,20152016,PR,2015-09-20T20:30:00Z
1,13,SHOT,1,REGULAR,2015-09-20T20:42:37Z,Slap Shot,NSH,Nashville Predators,-34.0,2.0,...,NaN,12,FACEOFF,-69.0,-22.0,2015-09-20T20:42:03Z,2015010002,20152016,PR,2015-09-20T20:30:00Z
2,15,SHOT,1,REGULAR,2015-09-20T20:44:16Z,Slap Shot,NSH,Nashville Predators,-57.0,-29.0,...,NaN,14,FACEOFF,-69.0,22.0,2015-09-20T20:42:44Z,2015010002,20152016,PR,2015-09-20T20:30:00Z
3,17,SHOT,1,REGULAR,2015-09-20T20:45:28Z,Snap Shot,FLA,Florida Panthers,61.0,4.0,...,NaN,16,SHOT,64.0,7.0,2015-09-20T20:45:23Z,2015010002,20152016,PR,2015-09-20T20:30:00Z
4,16,SHOT,1,REGULAR,2015-09-20T20:45:23Z,Wrist Shot,FLA,Florida Panthers,64.0,7.0,...,NaN,15,SHOT,-57.0,-29.0,2015-09-20T20:44:16Z,2015010002,20152016,PR,2015-09-20T20:30:00Z

In [ ]:
season_plays_df["game_time"] = pd.to_datetime(season_plays_df["game_time"])
season_plays_df["game_start_time"] = pd.to_datetime(season_plays_df["game_start_time"])

In [ ]:
advanced_features = advanced_features(season_plays_df)